# Biblioteki do aplikacji i pobierania danych
requests
gradio
plotly

# Biblioteki do obliczeń statystycznych i PCA
pandas
numpy
scikit-learn

# Biblioteki do analizy wstępnej (wykresy i korelacje)
matplotlib
seaborn

# Obsługa plików Excel
openpyxl